adf-event-trigger-dev/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-event-trigger-dev"
		},
		"LS_SQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQL'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=@{linkedService().P_FQDN_SRV};Initial Catalog=@{linkedService().P_DB_NAME}"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0304-000144-5r6215d2"
		},
		"LS_DLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://',\nlinkedService().P_STORAGE_ACCOUNT,\n'.dfs.core.windows.net')}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-126847443262264.4.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/2bfc44c5-aef6-403f-bd57-d339da205622/resourceGroups/DL-Event-Trigger-dev/providers/Microsoft.Databricks/workspaces/adb-event-trigger-dev",
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_DLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"P_STORAGE_ACCOUNT": {
						"type": "string",
						"defaultValue": "dlseventtriggerdev"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_DLS_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"P_FQDN_SRV": {
						"type": "string",
						"defaultValue": "srv-ey-event.database.windows.net"
					},
					"P_DB_NAME": {
						"type": "string",
						"defaultValue": "sql-ey-event"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQL_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_CP_ACT_RAW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "NB_COPY_LOGS",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Workspace/Users/raphaelfreixo@gmail.com/ADB_NB_LOGS_ADF",
							"baseParameters": {
								"P_CONTAINER": {
									"value": "@pipeline().parameters.P_CONTAINER",
									"type": "Expression"
								},
								"P_PATH": {
									"value": "@pipeline().parameters.P_PATH",
									"type": "Expression"
								},
								"P_FILENAME": {
									"value": "@pipeline().parameters.P_FILE_NAME",
									"type": "Expression"
								},
								"P_STORAGE_ACCOUNT": {
									"value": "@pipeline().parameters.P_STORAGE_ACCOUNT",
									"type": "Expression"
								},
								"P_ADF_NAME": {
									"value": "@pipeline().parameters.P_ADF_NAME",
									"type": "Expression"
								},
								"P_PL_NAME": {
									"value": "@pipeline().parameters.P_PL_NAME",
									"type": "Expression"
								},
								"P_PL_GROUP_ID": {
									"value": "@pipeline().parameters.P_PL_GROUP_ID",
									"type": "Expression"
								},
								"P_PL_ID": {
									"value": "@pipeline().parameters.P_PL_ID",
									"type": "Expression"
								},
								"P_TRG_ID": {
									"value": "@pipeline().parameters.P_TRG_ID",
									"type": "Expression"
								},
								"P_TRG_NAME": {
									"value": "@pipeline().parameters.P_TRG_NAME",
									"type": "Expression"
								},
								"P_TRG_TYPE": {
									"value": "@pipeline().parameters.P_TRG_TYPE",
									"type": "Expression"
								},
								"P_TRG_TIME": {
									"value": "@pipeline().parameters.P_TRG_TIME",
									"type": "Expression"
								},
								"P_TRG_PL_NAME": {
									"value": "@pipeline().parameters.P_TRG_PL_NAME",
									"type": "Expression"
								},
								"P_TRG_PL_ID": {
									"value": "@pipeline().parameters.P_TRG_ID",
									"type": "Expression"
								},
								"P_DATAREAD_KB": {
									"value": "@string(pipeline().parameters.P_DATAREAD_KB)",
									"type": "Expression"
								},
								"P_DATAWRITTEN_KB": {
									"value": "@string(pipeline().parameters.P_DATAWRITTEN_KB)",
									"type": "Expression"
								},
								"P_DURATION_ACT_SEG": {
									"value": "@string(pipeline().parameters.P_DURATION_ACT_SEG)",
									"type": "Expression"
								},
								"P_ROWSCOPIED_UNIT": {
									"value": "@string(pipeline().parameters.P_ROWSCOPIED_UNIT)",
									"type": "Expression"
								},
								"P_ROWSREAD_UNIT": {
									"value": "@string(pipeline().parameters.P_ROWSREAD_UNIT)",
									"type": "Expression"
								},
								"P_STATUS": {
									"value": "@string(pipeline().parameters.P_STATUS)",
									"type": "Expression"
								},
								"P_THROUGHTPUT_MB": {
									"value": "@string(pipeline().parameters.P_THROUGHTPUT_MB)",
									"type": "Expression"
								},
								"P_LOAD_TYPE": {
									"value": "@pipeline().parameters.P_LOAD_TYPE",
									"type": "Expression"
								},
								"P_COPYDURATION_SEG": {
									"value": "@string(pipeline().parameters.P_COPYDURATION_SEG)",
									"type": "Expression"
								},
								"P_TABLENAME": {
									"value": "@pipeline().parameters.P_TABLENAME",
									"type": "Expression"
								},
								"P_SERVER_NAME": {
									"value": "@pipeline().parameters.P_SERVER_NAME",
									"type": "Expression"
								},
								"P_SCHEMA_NAME": {
									"value": "@pipeline().parameters.P_SCHEMA_NAME",
									"type": "Expression"
								},
								"P_APPLICATION": {
									"value": "@pipeline().parameters.P_APPLICATION",
									"type": "Expression"
								},
								"P_START_TIME": {
									"value": "@string(pipeline().parameters.P_START_TIME)",
									"type": "Expression"
								},
								"P_PROJECT_NAME": {
									"value": "@pipeline().parameters.P_PROJECT_NAME",
									"type": "Expression"
								},
								"P_DATA_DOMAIN": {
									"value": "@pipeline().parameters.P_DATA_DOMAIN",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_APPLICATION": {
						"type": "string"
					},
					"P_SCHEMA_NAME": {
						"type": "string"
					},
					"P_SERVER_NAME": {
						"type": "string"
					},
					"P_TABLENAME": {
						"type": "string"
					},
					"P_LOAD_TYPE": {
						"type": "string"
					},
					"P_STORAGE_ACCOUNT": {
						"type": "string"
					},
					"P_PATH": {
						"type": "string"
					},
					"P_FILE_NAME": {
						"type": "string"
					},
					"P_CONTAINER": {
						"type": "string"
					},
					"P_ADF_NAME": {
						"type": "string"
					},
					"P_PL_NAME": {
						"type": "string"
					},
					"P_PL_GROUP_ID": {
						"type": "string"
					},
					"P_PL_ID": {
						"type": "string"
					},
					"P_TRG_ID": {
						"type": "string"
					},
					"P_TRG_NAME": {
						"type": "string"
					},
					"P_TRG_TYPE": {
						"type": "string"
					},
					"P_TRG_TIME": {
						"type": "string"
					},
					"P_TRG_PL_NAME": {
						"type": "string"
					},
					"P_TRG_PL_ID": {
						"type": "string"
					},
					"P_DATAREAD_KB": {
						"type": "string"
					},
					"P_DATAWRITTEN_KB": {
						"type": "string"
					},
					"P_DURATION_ACT_SEG": {
						"type": "string"
					},
					"P_ROWSCOPIED_UNIT": {
						"type": "string"
					},
					"P_ROWSREAD_UNIT": {
						"type": "string"
					},
					"P_STATUS": {
						"type": "string"
					},
					"P_THROUGHTPUT_MB": {
						"type": "string"
					},
					"P_COPYDURATION_SEG": {
						"type": "string"
					},
					"P_START_TIME": {
						"type": "string"
					},
					"P_PROJECT_NAME": {
						"type": "string"
					},
					"P_DATA_DOMAIN": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DT_PRQ_DYN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_PATH": {
						"type": "string"
					},
					"P_CONTAINER": {
						"type": "string"
					},
					"P_FILENAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().P_FILENAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_PATH\n",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().P_CONTAINER",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DT_SRC_MSSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference",
					"parameters": {
						"P_FQDN_SRV": "srv-ey-event.database.windows.net",
						"P_DB_NAME": "sql-ey-event"
					}
				},
				"parameters": {
					"P_TABLENAME": {
						"type": "string"
					},
					"P_SCHEMA": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TECH",
						"type": "varchar"
					},
					{
						"name": "SERVER",
						"type": "varchar"
					},
					{
						"name": "SYSTEM",
						"type": "varchar"
					},
					{
						"name": "SCHEMA",
						"type": "varchar"
					},
					{
						"name": "TABLENAME",
						"type": "varchar"
					},
					{
						"name": "LOAD_TYPE",
						"type": "varchar"
					},
					{
						"name": "WATERMARK",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CHK_BIG_NUMBER",
						"type": "varchar"
					},
					{
						"name": "ACTIVE",
						"type": "varchar"
					},
					{
						"name": "SENSITIVE_DATA",
						"type": "varchar"
					},
					{
						"name": "SELECT_COLUMN",
						"type": "varchar"
					},
					{
						"name": "SELECT_COLUMN_MAX",
						"type": "varchar"
					},
					{
						"name": "PATH",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().P_SCHEMA",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().P_TABLENAME",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_02_PL_SRC_LDZ_FULL_MSSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "V_FILENAME_MSSQL_INCR_copy1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_FILENAME",
							"value": {
								"value": "@concat(toLower(pipeline().parameters.P_TABLENAME),\n'_',\npipeline().parameters.P_LOAD_TYPE,\n'_', \n    formatDateTime(utcnow(),'yyyyMMddTHHmmss'), \n    '.parquet')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "V_PATH_MSSQL_INCR_copy1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": {
								"value": "@concat(\n    toUpper(pipeline().parameters.P_PATH), \n    '/',\n    formatDateTime(utcNow(),'yyyy'), \n    '/', \n    formatDateTime(utcNow(),'MM'), \n    '/', \n    formatDateTime(utcNow(),'dd')    \n  \n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CP_MSSQL_FULL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "V_FILENAME_MSSQL_INCR_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "V_PATH_MSSQL_INCR_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT ',    \n    pipeline().parameters.P_SELECT_COLUMN,\n    ',GETUTCDATE() _LOAD_TIME FROM [',\n    \n    pipeline().parameters.P_SYSTEM,\n    '].[',\n    pipeline().parameters.P_SCHEMA,\n    '].[',\n    pipeline().parameters.P_TABLENAME\n   \n)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DT_SRC_MSSQL",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLENAME": {
										"value": "@pipeline().parameters.P_TABLENAME",
										"type": "Expression"
									},
									"P_SCHEMA": {
										"value": "@pipeline().parameters.P_SCHEMA",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DT_PRQ_DYN",
								"type": "DatasetReference",
								"parameters": {
									"P_PATH": {
										"value": "@variables('V_PATH')",
										"type": "Expression"
									},
									"P_CONTAINER": {
										"value": "@pipeline().parameters.P_CONTAINER_1",
										"type": "Expression"
									},
									"P_FILENAME": {
										"value": "@variables('V_FILENAME')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "NB_GET_WATERMARK_LOGS_RAW_FLAG_TRUE_copy1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "CP_MSSQL_FULL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Workspace/Users/raphaelfreixo@gmail.com/ADB_NB_GET_WATERMARK_LOGSFILE",
							"baseParameters": {
								"P_CONTAINER": {
									"value": "@pipeline().parameters.P_CONTAINER_1",
									"type": "Expression"
								},
								"P_PATH": {
									"value": "@variables('V_PATH')",
									"type": "Expression"
								},
								"P_FILENAME": {
									"value": "@variables('V_FILENAME')",
									"type": "Expression"
								},
								"P_WATERMARK_COLUMN": {
									"value": "@pipeline().parameters.P_WATERMARK_COLUMN",
									"type": "Expression"
								},
								"P_STORAGE_ACCOUNT": {
									"value": "@pipeline().parameters.P_STORAGEACCOUNT",
									"type": "Expression"
								},
								"P_TABLENAME": {
									"value": "@pipeline().parameters.P_TABLENAME",
									"type": "Expression"
								},
								"P_SERVER_NAME": {
									"value": "@pipeline().parameters.P_SERVER",
									"type": "Expression"
								},
								"P_SCHEMA_NAME": {
									"value": "@pipeline().parameters.P_SCHEMA",
									"type": "Expression"
								},
								"P_APPLICATION": {
									"value": "@pipeline().parameters.P_APPLICATION",
									"type": "Expression"
								},
								"P_DATA_DOMAIN": {
									"value": "@pipeline().parameters.P_DATA_DOMAIN",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PL_CP_ACT_RAW_copy1_copy1_copy1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "CP_MSSQL_FULL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_CP_ACT_RAW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_APPLICATION": {
									"value": "@pipeline().parameters.P_APPLICATION",
									"type": "Expression"
								},
								"P_SCHEMA_NAME": {
									"value": "@pipeline().parameters.P_SCHEMA",
									"type": "Expression"
								},
								"P_SERVER_NAME": {
									"value": "@pipeline().parameters.P_SERVER",
									"type": "Expression"
								},
								"P_TABLENAME": {
									"value": "@pipeline().parameters.P_TABLENAME",
									"type": "Expression"
								},
								"P_LOAD_TYPE": {
									"value": "@pipeline().parameters.P_LOAD_TYPE",
									"type": "Expression"
								},
								"P_STORAGE_ACCOUNT": {
									"value": "@pipeline().parameters.P_STORAGEACCOUNT",
									"type": "Expression"
								},
								"P_PATH": {
									"value": "@pipeline().parameters.P_PATH",
									"type": "Expression"
								},
								"P_FILE_NAME": {
									"value": "@variables('V_FILENAME')",
									"type": "Expression"
								},
								"P_CONTAINER": {
									"value": "@pipeline().parameters.P_CONTAINER_1",
									"type": "Expression"
								},
								"P_ADF_NAME": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								},
								"P_PL_NAME": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								},
								"P_PL_GROUP_ID": {
									"value": "@pipeline().GroupId",
									"type": "Expression"
								},
								"P_PL_ID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								},
								"P_TRG_ID": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								},
								"P_TRG_NAME": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								},
								"P_TRG_TYPE": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								},
								"P_TRG_TIME": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								},
								"P_TRG_PL_NAME": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								},
								"P_TRG_PL_ID": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								},
								"P_DATAREAD_KB": {
									"value": "@activity('CP_MSSQL_FULL').output.dataRead",
									"type": "Expression"
								},
								"P_DATAWRITTEN_KB": {
									"value": "@activity('CP_MSSQL_FULL').output.dataWritten",
									"type": "Expression"
								},
								"P_DURATION_ACT_SEG": {
									"value": "@activity('CP_MSSQL_FULL').output.executionDetails[0].duration",
									"type": "Expression"
								},
								"P_ROWSCOPIED_UNIT": {
									"value": "@activity('CP_MSSQL_FULL').output.rowsCopied",
									"type": "Expression"
								},
								"P_ROWSREAD_UNIT": {
									"value": "@activity('CP_MSSQL_FULL').output.rowsRead",
									"type": "Expression"
								},
								"P_STATUS": {
									"value": "@activity('CP_MSSQL_FULL').output.executionDetails[0].status",
									"type": "Expression"
								},
								"P_THROUGHTPUT_MB": {
									"value": "@activity('CP_MSSQL_FULL').output.throughput",
									"type": "Expression"
								},
								"P_COPYDURATION_SEG": {
									"value": "@activity('CP_MSSQL_FULL').output.copyDuration",
									"type": "Expression"
								},
								"P_START_TIME": {
									"value": "@activity('CP_MSSQL_FULL').output.executionDetails[0].start",
									"type": "Expression"
								},
								"P_PROJECT_NAME": {
									"value": "@pipeline().parameters.P_PROJECT_NAME",
									"type": "Expression"
								},
								"P_DATA_DOMAIN": {
									"value": "@pipeline().parameters.P_DATA_DOMAIN",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_TECH": {
						"type": "string"
					},
					"P_SERVER": {
						"type": "string"
					},
					"P_APPLICATION": {
						"type": "string"
					},
					"P_SCHEMA": {
						"type": "string"
					},
					"P_TABLENAME": {
						"type": "string"
					},
					"P_LOAD_TYPE": {
						"type": "string"
					},
					"P_WATERMARK": {
						"type": "string"
					},
					"P_CHK_BIG_NUMBER": {
						"type": "string"
					},
					"P_ACTIVE": {
						"type": "string"
					},
					"P_SENSITIVE_DATA": {
						"type": "string"
					},
					"P_SELECT_COLUMN": {
						"type": "string"
					},
					"P_SELECT_COLUMN_MAX": {
						"type": "string"
					},
					"P_PATH": {
						"type": "string"
					},
					"P_WATERMARK_COLUMN": {
						"type": "string"
					},
					"P_SYSTEM": {
						"type": "string"
					},
					"P_CONTAINER_1": {
						"type": "string"
					},
					"P_STORAGEACCOUNT": {
						"type": "string"
					},
					"P_PROJECT_NAME": {
						"type": "string"
					},
					"P_DATA_DOMAIN": {
						"type": "string"
					},
					"P_FULL_LOAD_FLAG": {
						"type": "string"
					}
				},
				"variables": {
					"V_PATH": {
						"type": "String"
					},
					"V_FILENAME": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-02T02:42:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DT_SRC_MSSQL')]",
				"[concat(variables('factoryId'), '/datasets/DT_PRQ_DYN')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CP_ACT_RAW')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_02_PL_SRC_LDZ_INCR_MSSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "V_FILENAME_MSSQL_INCR_copy1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_FILENAME",
							"value": {
								"value": "@concat(toLower(pipeline().parameters.P_TABLENAME),\n'_',\npipeline().parameters.P_LOAD_TYPE,\n'_', \n    formatDateTime(utcnow(),'yyyyMMddTHHmmss'), \n    '.parquet')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "V_PATH_MSSQL_INCR_copy1",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "V_PATH",
							"value": {
								"value": "@concat(\n    toUpper(pipeline().parameters.P_PATH), \n    '/',\n    formatDateTime(utcNow(),'yyyy'), \n    '/', \n    formatDateTime(utcNow(),'MM'), \n    '/', \n    formatDateTime(utcNow(),'dd')    \n  \n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "V_FILENAME_MSSQL_INCR_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "V_PATH_MSSQL_INCR_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(toUpper(pipeline().parameters.P_FULL_LOAD_FLAG),toUpper('Y'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "CP_MSSQL_INCREMENTAL_FLAG_FALSE",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT ',    \n    pipeline().parameters.P_SELECT_COLUMN,\n    ',GETUTCDATE() _LOAD_TIME FROM [',\n    \n    pipeline().parameters.P_SYSTEM,\n    '].[',\n    pipeline().parameters.P_SCHEMA,\n    '].[',\n    pipeline().parameters.P_TABLENAME\n   \n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DT_SRC_MSSQL",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLENAME": {
													"value": "@pipeline().parameters.P_TABLENAME",
													"type": "Expression"
												},
												"P_SCHEMA": {
													"value": "@pipeline().parameters.P_SCHEMA",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DT_PRQ_DYN",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_CONTAINER": {
													"value": "@pipeline().parameters.P_CONTAINER_1",
													"type": "Expression"
												},
												"P_FILENAME": {
													"value": "@variables('V_FILENAME')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "NB_GET_WATERMARK_LOGS_RAW_FLAG_TRUE",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "CP_MSSQL_INCREMENTAL_FLAG_FALSE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Users/raphaelfreixo@gmail.com/ADB_NB_GET_WATERMARK_LOGSFILE",
										"baseParameters": {
											"P_CONTAINER": {
												"value": "@pipeline().parameters.P_CONTAINER_1",
												"type": "Expression"
											},
											"P_PATH": {
												"value": "@variables('V_PATH')",
												"type": "Expression"
											},
											"P_FILENAME": {
												"value": "@variables('V_FILENAME')",
												"type": "Expression"
											},
											"P_WATERMARK_COLUMN": {
												"value": "@pipeline().parameters.P_WATERMARK_COLUMN",
												"type": "Expression"
											},
											"P_STORAGE_ACCOUNT": {
												"value": "@pipeline().parameters.P_STORAGEACCOUNT",
												"type": "Expression"
											},
											"P_TABLENAME": {
												"value": "@pipeline().parameters.P_TABLENAME",
												"type": "Expression"
											},
											"P_SERVER_NAME": {
												"value": "@pipeline().parameters.P_SERVER",
												"type": "Expression"
											},
											"P_SCHEMA_NAME": {
												"value": "@pipeline().parameters.P_SCHEMA",
												"type": "Expression"
											},
											"P_APPLICATION": {
												"value": "@pipeline().parameters.P_APPLICATION",
												"type": "Expression"
											},
											"P_DATA_DOMAIN": {
												"value": "@pipeline().parameters.P_DATA_DOMAIN",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "PL_CP_ACT_RAW_copy1_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "CP_MSSQL_INCREMENTAL_FLAG_FALSE",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CP_ACT_RAW",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_APPLICATION": {
												"value": "@pipeline().parameters.P_APPLICATION",
												"type": "Expression"
											},
											"P_SCHEMA_NAME": {
												"value": "@pipeline().parameters.P_SCHEMA",
												"type": "Expression"
											},
											"P_SERVER_NAME": {
												"value": "@pipeline().parameters.P_SERVER",
												"type": "Expression"
											},
											"P_TABLENAME": {
												"value": "@pipeline().parameters.P_TABLENAME",
												"type": "Expression"
											},
											"P_LOAD_TYPE": {
												"value": "@string('F')",
												"type": "Expression"
											},
											"P_STORAGE_ACCOUNT": {
												"value": "@pipeline().parameters.P_STORAGEACCOUNT",
												"type": "Expression"
											},
											"P_PATH": {
												"value": "@pipeline().parameters.P_PATH",
												"type": "Expression"
											},
											"P_FILE_NAME": {
												"value": "@variables('V_FILENAME')",
												"type": "Expression"
											},
											"P_CONTAINER": {
												"value": "@pipeline().parameters.P_CONTAINER_1",
												"type": "Expression"
											},
											"P_ADF_NAME": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											},
											"P_PL_NAME": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"P_PL_GROUP_ID": {
												"value": "@pipeline().GroupId",
												"type": "Expression"
											},
											"P_PL_ID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"P_TRG_ID": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"P_TRG_NAME": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"P_TRG_TYPE": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"P_TRG_TIME": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"P_TRG_PL_NAME": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"P_TRG_PL_ID": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"P_DATAREAD_KB": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.dataRead",
												"type": "Expression"
											},
											"P_DATAWRITTEN_KB": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.dataWritten",
												"type": "Expression"
											},
											"P_DURATION_ACT_SEG": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.executionDetails[0].duration",
												"type": "Expression"
											},
											"P_ROWSCOPIED_UNIT": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.rowsCopied",
												"type": "Expression"
											},
											"P_ROWSREAD_UNIT": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.rowsRead",
												"type": "Expression"
											},
											"P_STATUS": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.executionDetails[0].status",
												"type": "Expression"
											},
											"P_THROUGHTPUT_MB": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.throughput",
												"type": "Expression"
											},
											"P_COPYDURATION_SEG": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.copyDuration",
												"type": "Expression"
											},
											"P_START_TIME": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_FALSE').output.executionDetails[0].start",
												"type": "Expression"
											},
											"P_PROJECT_NAME": {
												"value": "@pipeline().parameters.P_PROJECT_NAME",
												"type": "Expression"
											},
											"P_DATA_DOMAIN": {
												"value": "@pipeline().parameters.P_DATA_DOMAIN",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SCR_UPDATE_WATERMARK_FLAG_TRUE",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "NB_GET_WATERMARK_LOGS_RAW_FLAG_TRUE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_SQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"P_FQDN_SRV": "srv-ey-event.database.windows.net",
											"P_DB_NAME": "sql-ey-event"
										}
									},
									"typeProperties": {
										"scripts": [
											{
												"parameters": [
													{
														"name": "P_TABLENAME",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_TABLENAME",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_SCHEMA",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_SCHEMA",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_PROJECT_NAME",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_PROJECT_NAME",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_SERVER",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_SERVER",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_LAST_CDC_DATE",
														"type": "String",
														"value": {
															"value": "@activity('NB_GET_WATERMARK_LOGS_RAW').output.runOutput",
															"type": "Expression"
														},
														"direction": "Input"
													}
												],
												"type": "Query",
												"text": "update [dbo].[CONTROL_TABLE] set \r\nWATERMARK = coalesce(\r\nCASE WHEN @P_LAST_CDC_DATE='None' THEN null \r\nWHEN @P_LAST_CDC_DATE > FORMAT(CURRENT_TIMESTAMP,'yyyyMMdd') THEN  FORMAT(CURRENT_TIMESTAMP,'yyyyMMdd')\r\nELSE @P_LAST_CDC_DATE END\r\n,WATERMARK)\r\n where [SERVER] = @P_SERVER and TABLENAME = @P_TABLENAME and PROJECT_NAME= @P_PROJECT_NAME AND [SCHEMA]= @P_SCHEMA"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "SCR_UPDATE_FLAG_FULL_LOAD",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "SCR_UPDATE_WATERMARK_FLAG_TRUE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_SQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"P_FQDN_SRV": "srv-ey-event.database.windows.net",
											"P_DB_NAME": "sql-ey-event"
										}
									},
									"typeProperties": {
										"scripts": [
											{
												"parameters": [
													{
														"name": "P_TABLENAME",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_TABLENAME",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_SCHEMA",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_SCHEMA",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_PROJECT_NAME",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_PROJECT_NAME",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_SERVER",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_SERVER",
															"type": "Expression"
														},
														"direction": "Input"
													}
												],
												"type": "Query",
												"text": "update [dbo].[CONTROL_TABLE] set \r\nFULL_LOAD_FLAG = 'Y'\r\n where [SERVER] = @P_SERVER and TABLENAME = @P_TABLENAME and PROJECT_NAME= @P_PROJECT_NAME AND [SCHEMA]= @P_SCHEMA"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "CP_MSSQL_INCREMENTAL_FLAG_TRUE",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT ',    \n    pipeline().parameters.P_SELECT_COLUMN,\n    ',GETUTCDATE() _LOAD_TIME FROM [',\n    \n    pipeline().parameters.P_SYSTEM,\n    '].[',\n    pipeline().parameters.P_SCHEMA,\n    '].[',\n    pipeline().parameters.P_TABLENAME,\n    '] WHERE ',\n    pipeline().parameters.P_WATERMARK_COLUMN,\n    ' > ',\n    '''',\n    pipeline().parameters.P_WATERMARK,\n    ''''\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DT_SRC_MSSQL",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLENAME": {
													"value": "@pipeline().parameters.P_TABLENAME",
													"type": "Expression"
												},
												"P_SCHEMA": {
													"value": "@pipeline().parameters.P_SCHEMA",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DT_PRQ_DYN",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_CONTAINER": {
													"value": "@pipeline().parameters.P_CONTAINER_1",
													"type": "Expression"
												},
												"P_FILENAME": {
													"value": "@variables('V_FILENAME')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "NB_GET_WATERMARK_LOGS_RAW_copy1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "CP_MSSQL_INCREMENTAL_FLAG_TRUE",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Users/raphaelfreixo@gmail.com/ADB_NB_GET_WATERMARK_LOGSFILE",
										"baseParameters": {
											"P_CONTAINER": {
												"value": "@pipeline().parameters.P_CONTAINER_1",
												"type": "Expression"
											},
											"P_PATH": {
												"value": "@variables('V_PATH')",
												"type": "Expression"
											},
											"P_FILENAME": {
												"value": "@variables('V_FILENAME')",
												"type": "Expression"
											},
											"P_WATERMARK_COLUMN": {
												"value": "@pipeline().parameters.P_WATERMARK_COLUMN",
												"type": "Expression"
											},
											"P_STORAGE_ACCOUNT": {
												"value": "@pipeline().parameters.P_STORAGEACCOUNT",
												"type": "Expression"
											},
											"P_TABLENAME": {
												"value": "@pipeline().parameters.P_TABLENAME",
												"type": "Expression"
											},
											"P_SERVER_NAME": {
												"value": "@pipeline().parameters.P_SERVER",
												"type": "Expression"
											},
											"P_SCHEMA_NAME": {
												"value": "@pipeline().parameters.P_SCHEMA",
												"type": "Expression"
											},
											"P_APPLICATION": {
												"value": "@pipeline().parameters.P_APPLICATION",
												"type": "Expression"
											},
											"P_DATA_DOMAIN": {
												"value": "@pipeline().parameters.P_DATA_DOMAIN",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "PL_CP_ACT_RAW_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "CP_MSSQL_INCREMENTAL_FLAG_TRUE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CP_ACT_RAW",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_APPLICATION": {
												"value": "@pipeline().parameters.P_APPLICATION",
												"type": "Expression"
											},
											"P_SCHEMA_NAME": {
												"value": "@pipeline().parameters.P_SCHEMA",
												"type": "Expression"
											},
											"P_SERVER_NAME": {
												"value": "@pipeline().parameters.P_SERVER",
												"type": "Expression"
											},
											"P_TABLENAME": {
												"value": "@pipeline().parameters.P_TABLENAME",
												"type": "Expression"
											},
											"P_LOAD_TYPE": {
												"value": "@pipeline().parameters.P_LOAD_TYPE",
												"type": "Expression"
											},
											"P_STORAGE_ACCOUNT": {
												"value": "@pipeline().parameters.P_STORAGEACCOUNT",
												"type": "Expression"
											},
											"P_PATH": {
												"value": "@pipeline().parameters.P_PATH",
												"type": "Expression"
											},
											"P_FILE_NAME": {
												"value": "@variables('V_FILENAME')",
												"type": "Expression"
											},
											"P_CONTAINER": {
												"value": "@pipeline().parameters.P_CONTAINER_1",
												"type": "Expression"
											},
											"P_ADF_NAME": {
												"value": "@pipeline().DataFactory",
												"type": "Expression"
											},
											"P_PL_NAME": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											},
											"P_PL_GROUP_ID": {
												"value": "@pipeline().GroupId",
												"type": "Expression"
											},
											"P_PL_ID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"P_TRG_ID": {
												"value": "@pipeline().TriggerId",
												"type": "Expression"
											},
											"P_TRG_NAME": {
												"value": "@pipeline().TriggerName",
												"type": "Expression"
											},
											"P_TRG_TYPE": {
												"value": "@pipeline().TriggerType",
												"type": "Expression"
											},
											"P_TRG_TIME": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											},
											"P_TRG_PL_NAME": {
												"value": "@pipeline()?.TriggeredByPipelineName",
												"type": "Expression"
											},
											"P_TRG_PL_ID": {
												"value": "@pipeline()?.TriggeredByPipelineRunId",
												"type": "Expression"
											},
											"P_DATAREAD_KB": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.dataRead",
												"type": "Expression"
											},
											"P_DATAWRITTEN_KB": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.dataWritten",
												"type": "Expression"
											},
											"P_DURATION_ACT_SEG": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.executionDetails[0].duration",
												"type": "Expression"
											},
											"P_ROWSCOPIED_UNIT": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.rowsCopied",
												"type": "Expression"
											},
											"P_ROWSREAD_UNIT": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.rowsRead",
												"type": "Expression"
											},
											"P_STATUS": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.executionDetails[0].status",
												"type": "Expression"
											},
											"P_THROUGHTPUT_MB": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.throughput",
												"type": "Expression"
											},
											"P_COPYDURATION_SEG": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.copyDuration",
												"type": "Expression"
											},
											"P_START_TIME": {
												"value": "@activity('CP_MSSQL_INCREMENTAL_FLAG_TRUE').output.executionDetails[0].start",
												"type": "Expression"
											},
											"P_PROJECT_NAME": {
												"value": "@pipeline().parameters.P_PROJECT_NAME",
												"type": "Expression"
											},
											"P_DATA_DOMAIN": {
												"value": "@pipeline().parameters.P_DATA_DOMAIN",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "SCR_UPDATE_WATERMARK",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "PL_CP_ACT_RAW_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_SQL",
										"type": "LinkedServiceReference",
										"parameters": {
											"P_FQDN_SRV": "srv-ey-event.database.windows.net",
											"P_DB_NAME": "sql-ey-event"
										}
									},
									"typeProperties": {
										"scripts": [
											{
												"parameters": [
													{
														"name": "P_TABLENAME",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_TABLENAME",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_SCHEMA",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_SCHEMA",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_PROJECT_NAME",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_PROJECT_NAME",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_SERVER",
														"type": "String",
														"value": {
															"value": "@pipeline().parameters.P_SERVER",
															"type": "Expression"
														},
														"direction": "Input"
													},
													{
														"name": "P_LAST_CDC_DATE",
														"type": "String",
														"value": {
															"value": "@activity('NB_GET_WATERMARK_LOGS_RAW').output.runOutput",
															"type": "Expression"
														},
														"direction": "Input"
													}
												],
												"type": "Query",
												"text": "update [dbo].[CONTROL_TABLE] set \r\nWATERMARK = coalesce(\r\nCASE WHEN @P_LAST_CDC_DATE='None' THEN null \r\nWHEN @P_LAST_CDC_DATE > FORMAT(CURRENT_TIMESTAMP,'yyyyMMdd') THEN  FORMAT(CURRENT_TIMESTAMP,'yyyyMMdd')\r\nELSE @P_LAST_CDC_DATE END\r\n,WATERMARK)\r\n where [SERVER] = @P_SERVER and TABLENAME = @P_TABLENAME and PROJECT_NAME= @P_PROJECT_NAME AND [SCHEMA]= @P_SCHEMA"
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_TECH": {
						"type": "string"
					},
					"P_SERVER": {
						"type": "string"
					},
					"P_APPLICATION": {
						"type": "string"
					},
					"P_SCHEMA": {
						"type": "string"
					},
					"P_TABLENAME": {
						"type": "string"
					},
					"P_LOAD_TYPE": {
						"type": "string"
					},
					"P_WATERMARK": {
						"type": "string"
					},
					"P_CHK_BIG_NUMBER": {
						"type": "string"
					},
					"P_ACTIVE": {
						"type": "string"
					},
					"P_SENSITIVE_DATA": {
						"type": "string"
					},
					"P_SELECT_COLUMN": {
						"type": "string"
					},
					"P_SELECT_COLUMN_MAX": {
						"type": "string"
					},
					"P_PATH": {
						"type": "string"
					},
					"P_WATERMARK_COLUMN": {
						"type": "string"
					},
					"P_SYSTEM": {
						"type": "string"
					},
					"P_CONTAINER_1": {
						"type": "string"
					},
					"P_STORAGEACCOUNT": {
						"type": "string"
					},
					"P_PROJECT_NAME": {
						"type": "string"
					},
					"P_DATA_DOMAIN": {
						"type": "string"
					},
					"P_FULL_LOAD_FLAG": {
						"type": "string"
					}
				},
				"variables": {
					"V_PATH": {
						"type": "String"
					},
					"V_FILENAME": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-02T02:42:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DT_SRC_MSSQL')]",
				"[concat(variables('factoryId'), '/datasets/DT_PRQ_DYN')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]",
				"[concat(variables('factoryId'), '/pipelines/PL_CP_ACT_RAW')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/01_PL_SRC_LDZ_LOAD_MSSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Conditional Load Type",
						"type": "Switch",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.P_LOAD_TYPE",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "I",
									"activities": [
										{
											"name": "01_PL_SRC_STG_INCR_MSSQL",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"policy": {
												"secureInput": false
											},
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "01_02_PL_SRC_LDZ_INCR_MSSQL",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"P_TECH": {
														"value": "@pipeline().parameters.P_TECH",
														"type": "Expression"
													},
													"P_SERVER": {
														"value": "@pipeline().parameters.P_SERVER",
														"type": "Expression"
													},
													"P_APPLICATION": {
														"value": "@pipeline().parameters.P_APPLICATION",
														"type": "Expression"
													},
													"P_SCHEMA": {
														"value": "@pipeline().parameters.P_SCHEMA",
														"type": "Expression"
													},
													"P_TABLENAME": {
														"value": "@pipeline().parameters.P_TABLENAME",
														"type": "Expression"
													},
													"P_LOAD_TYPE": {
														"value": "@pipeline().parameters.P_LOAD_TYPE",
														"type": "Expression"
													},
													"P_WATERMARK": {
														"value": "@pipeline().parameters.P_WATERMARK",
														"type": "Expression"
													},
													"P_CHK_BIG_NUMBER": {
														"value": "@pipeline().parameters.P_CHK_BIG_NUMBER",
														"type": "Expression"
													},
													"P_ACTIVE": {
														"value": "@pipeline().parameters.P_ACTIVE",
														"type": "Expression"
													},
													"P_SENSITIVE_DATA": {
														"value": "@pipeline().parameters.P_SENSITIVE_DATA",
														"type": "Expression"
													},
													"P_SELECT_COLUMN": {
														"value": "@pipeline().parameters.P_SELECT_COLUMN",
														"type": "Expression"
													},
													"P_SELECT_COLUMN_MAX": {
														"value": "@pipeline().parameters.P_SELECT_COLUMN_MAX",
														"type": "Expression"
													},
													"P_PATH": {
														"value": "@pipeline().parameters.P_PATH",
														"type": "Expression"
													},
													"P_WATERMARK_COLUMN": {
														"value": "@pipeline().parameters.P_WATERMARK_COLUMN",
														"type": "Expression"
													},
													"P_SYSTEM": {
														"value": "@pipeline().parameters.P_SYSTEM",
														"type": "Expression"
													},
													"P_CONTAINER_1": {
														"value": "@pipeline().parameters.P_CONTAINER_1",
														"type": "Expression"
													},
													"P_STORAGEACCOUNT": {
														"value": "@pipeline().parameters.P_STORAGEACCOUNT",
														"type": "Expression"
													},
													"P_PROJECT_NAME": {
														"value": "@pipeline().parameters.P_PROJECT_NAME",
														"type": "Expression"
													},
													"P_DATA_DOMAIN": {
														"value": "@pipeline().parameters.P_DATA_DOMAIN",
														"type": "Expression"
													},
													"P_FULL_LOAD_FLAG": {
														"value": "@pipeline().parameters.P_FULL_LOAD_FLAG",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "01_01_PL_SRC_TO_LDZ_FULL_MSSQL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "01_02_PL_SRC_LDZ_FULL_MSSQL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_TECH": {
												"value": "@pipeline().parameters.P_TECH",
												"type": "Expression"
											},
											"P_SERVER": {
												"value": "@pipeline().parameters.P_SERVER",
												"type": "Expression"
											},
											"P_APPLICATION": {
												"value": "@pipeline().parameters.P_APPLICATION",
												"type": "Expression"
											},
											"P_SCHEMA": {
												"value": "@pipeline().parameters.P_SCHEMA",
												"type": "Expression"
											},
											"P_TABLENAME": {
												"value": "@pipeline().parameters.P_TABLENAME",
												"type": "Expression"
											},
											"P_LOAD_TYPE": {
												"value": "@pipeline().parameters.P_LOAD_TYPE",
												"type": "Expression"
											},
											"P_WATERMARK": {
												"value": "@pipeline().parameters.P_WATERMARK",
												"type": "Expression"
											},
											"P_CHK_BIG_NUMBER": {
												"value": "@pipeline().parameters.P_CHK_BIG_NUMBER",
												"type": "Expression"
											},
											"P_ACTIVE": {
												"value": "@pipeline().parameters.P_ACTIVE",
												"type": "Expression"
											},
											"P_SENSITIVE_DATA": {
												"value": "@pipeline().parameters.P_SENSITIVE_DATA",
												"type": "Expression"
											},
											"P_SELECT_COLUMN": {
												"value": "@pipeline().parameters.P_SELECT_COLUMN",
												"type": "Expression"
											},
											"P_SELECT_COLUMN_MAX": {
												"value": "@pipeline().parameters.P_SELECT_COLUMN_MAX",
												"type": "Expression"
											},
											"P_PATH": {
												"value": "@pipeline().parameters.P_PATH",
												"type": "Expression"
											},
											"P_WATERMARK_COLUMN": {
												"value": "@pipeline().parameters.P_WATERMARK_COLUMN",
												"type": "Expression"
											},
											"P_SYSTEM": {
												"value": "@pipeline().parameters.P_SYSTEM",
												"type": "Expression"
											},
											"P_CONTAINER_1": {
												"value": "@pipeline().parameters.P_CONTAINER_1",
												"type": "Expression"
											},
											"P_STORAGEACCOUNT": {
												"value": "@pipeline().parameters.P_STORAGEACCOUNT",
												"type": "Expression"
											},
											"P_PROJECT_NAME": {
												"value": "@pipeline().parameters.P_PROJECT_NAME",
												"type": "Expression"
											},
											"P_DATA_DOMAIN": {
												"value": "@pipeline().parameters.P_DATA_DOMAIN",
												"type": "Expression"
											},
											"P_FULL_LOAD_FLAG": {
												"value": "@pipeline().parameters.P_FULL_LOAD_FLAG",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_TECH": {
						"type": "string"
					},
					"P_SERVER": {
						"type": "string"
					},
					"P_APPLICATION": {
						"type": "string"
					},
					"P_SCHEMA": {
						"type": "string"
					},
					"P_TABLENAME": {
						"type": "string"
					},
					"P_LOAD_TYPE": {
						"type": "string"
					},
					"P_WATERMARK": {
						"type": "string"
					},
					"P_CHK_BIG_NUMBER": {
						"type": "string"
					},
					"P_ACTIVE": {
						"type": "string"
					},
					"P_SENSITIVE_DATA": {
						"type": "string"
					},
					"P_SELECT_COLUMN": {
						"type": "string"
					},
					"P_SELECT_COLUMN_MAX": {
						"type": "string"
					},
					"P_PATH": {
						"type": "string"
					},
					"P_WATERMARK_COLUMN": {
						"type": "string"
					},
					"P_SYSTEM": {
						"type": "string"
					},
					"P_CONTAINER_1": {
						"type": "string"
					},
					"P_STORAGEACCOUNT": {
						"type": "string"
					},
					"P_PROJECT_NAME": {
						"type": "string"
					},
					"P_DATA_DOMAIN": {
						"type": "string"
					},
					"P_FULL_LOAD_FLAG": {
						"type": "string"
					}
				},
				"variables": {
					"V_PATH": {
						"type": "String"
					},
					"V_FILENAME": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-02T02:42:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/01_02_PL_SRC_LDZ_FULL_MSSQL')]",
				"[concat(variables('factoryId'), '/pipelines/01_02_PL_SRC_LDZ_INCR_MSSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKUP_CONTROL_TABLE",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DT_SRC_MSSQL",
								"type": "DatasetReference",
								"parameters": {
									"P_TABLENAME": "CONTROL_TABLE",
									"P_SCHEMA": "dbo"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKUP_CONTROL_TABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKUP_CONTROL_TABLE').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "01_PL_SRC_LDZ_LOAD_MSSQL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "01_PL_SRC_LDZ_LOAD_MSSQL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_TECH": {
												"value": "@item().TECH\n",
												"type": "Expression"
											},
											"P_SERVER": {
												"value": "@item().SERVER",
												"type": "Expression"
											},
											"P_APPLICATION": {
												"value": "@item().APPLICATION",
												"type": "Expression"
											},
											"P_SCHEMA": {
												"value": "@item().SCHEMA",
												"type": "Expression"
											},
											"P_TABLENAME": {
												"value": "@item().TABLENAME",
												"type": "Expression"
											},
											"P_LOAD_TYPE": {
												"value": "@item().LOAD_TIME",
												"type": "Expression"
											},
											"P_WATERMARK": {
												"value": "@item().WATERMARK",
												"type": "Expression"
											},
											"P_CHK_BIG_NUMBER": {
												"value": "@item().CHK_BIG_NUMBER",
												"type": "Expression"
											},
											"P_ACTIVE": {
												"value": "@item().ACTIVE",
												"type": "Expression"
											},
											"P_SENSITIVE_DATA": {
												"value": "@item().SENSITIVE_DATA",
												"type": "Expression"
											},
											"P_SELECT_COLUMN": {
												"value": "@item().SELECT_COLUMN",
												"type": "Expression"
											},
											"P_SELECT_COLUMN_MAX": {
												"value": "@item().SELECT_COLUMN_MAX",
												"type": "Expression"
											},
											"P_PATH": {
												"value": "@item().PATH\n",
												"type": "Expression"
											},
											"P_WATERMARK_COLUMN": {
												"value": "@item().WATERMARK_COLUMN",
												"type": "Expression"
											},
											"P_SYSTEM": {
												"value": "@item().SYSTEM",
												"type": "Expression"
											},
											"P_CONTAINER_1": {
												"value": "@pipeline().parameters.P_CONTAINER_1",
												"type": "Expression"
											},
											"P_STORAGEACCOUNT": {
												"value": "@pipeline().parameters.P_STORAGEACCOUNT",
												"type": "Expression"
											},
											"P_PROJECT_NAME": {
												"value": "@item().PROJECT_NAME",
												"type": "Expression"
											},
											"P_DATA_DOMAIN": {
												"value": "@item().DATA_DOMAIN",
												"type": "Expression"
											},
											"P_FULL_LOAD_FLAG": {
												"value": "@item().FULL_LOAD_FLAG",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_STORAGEACCOUNT": {
						"type": "string",
						"defaultValue": "dlseventtriggerdev"
					},
					"P_CONTAINER_1": {
						"type": "string",
						"defaultValue": "landingzone"
					}
				},
				"variables": {
					"APAGAR": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SqlServer/PROCESS"
				},
				"annotations": [],
				"lastPublishTime": "2024-03-02T02:27:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DT_SRC_MSSQL')]",
				"[concat(variables('factoryId'), '/pipelines/01_PL_SRC_LDZ_LOAD_MSSQL')]"
			]
		}
	]
}