pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "LKUP_CONTROL_TABLE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DT_SRC_MSSQL",
						"type": "DatasetReference",
						"parameters": {
							"P_TABLENAME": "CONTROL_TABLE",
							"P_SCHEMA": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_CONTROL_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_CONTROL_TABLE').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().TECH",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "HANA",
										"activities": [
											{
												"name": "Set variable1_copy1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "APAGAR",
													"value": "S"
												}
											}
										]
									},
									{
										"value": "ORACLE",
										"activities": [
											{
												"name": "Set variable1_copy2",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "APAGAR",
													"value": "S"
												}
											}
										]
									},
									{
										"value": "MYSQL",
										"activities": [
											{
												"name": "Set variable1_copy3",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "APAGAR",
													"value": "S"
												}
											}
										]
									},
									{
										"value": "POSTGRES",
										"activities": [
											{
												"name": "Set variable1_copy4",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "APAGAR",
													"value": "S"
												}
											}
										]
									},
									{
										"value": "MSSQL",
										"activities": [
											{
												"name": "PL_SRC_STG_INCR",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "PL_SRC_STG_INCR",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"P_TECH": {
															"value": "@item().TECH",
															"type": "Expression"
														},
														"P_SERVER": {
															"value": "@item().SERVER",
															"type": "Expression"
														},
														"P_SYSTEM": {
															"value": "@item().SYSTEM",
															"type": "Expression"
														},
														"P_SCHEMA": {
															"value": "@item().SCHEMA",
															"type": "Expression"
														},
														"P_TABLENAME": {
															"value": "@item().TABLENAME",
															"type": "Expression"
														},
														"P_LOAD_TYPE": {
															"value": "@item().LOAD_TYPE",
															"type": "Expression"
														},
														"P_WATERMARK": {
															"value": "@item().WATERMARK",
															"type": "Expression"
														},
														"P_CHK_BIG_NUMBER": {
															"value": "@item().CHK_BIG_NUMBER",
															"type": "Expression"
														},
														"P_ACTIVE": {
															"value": "@item().ACTIVE",
															"type": "Expression"
														},
														"P_SENSITIVE_DATA": {
															"value": "@item().SENSITIVE_DATA",
															"type": "Expression"
														},
														"P_SELECT_COLUMN": {
															"value": "@item().SELECT_COLUMN",
															"type": "Expression"
														},
														"P_SELECT_COLUMN_MAX": {
															"value": "@item().SELECT_COLUMN_MAX",
															"type": "Expression"
														},
														"P_PATH": {
															"value": "@item().PATH",
															"type": "Expression"
														},
														"P_WATERMARK_COLUMN": {
															"value": "@item().WATERMARK_COLUMN",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Set variable1",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "APAGAR",
											"value": "S"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"APAGAR": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SqlServer/PROCESS"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-02T02:27:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}