pipeline/PL_SRC_STG_INCR.json
{
	"name": "PL_SRC_STG_INCR",
	"properties": {
		"activities": [
			{
				"name": "Conditional Load Type",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.P_LOAD_TYPE",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "I",
							"activities": [
								{
									"name": "CP_MSSQL_INCREMENTAL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "V_FILENAME_MSSQL_INCR",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "V_PATH_MSSQL_INCR",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT ',    \n    pipeline().parameters.P_SELECT_COLUMN,\n    ',GETUTCDATE() _LOAD_TIME FROM [',\n    \n    pipeline().parameters.P_SYSTEM,\n    '].[',\n    pipeline().parameters.P_SCHEMA,\n    '].[',\n    pipeline().parameters.P_TABLENAME,\n    '] WHERE ',\n    pipeline().parameters.P_WATERMARK_COLUMN,\n    ' > ',\n    '''',\n    pipeline().parameters.P_WATERMARK,\n    ''''\n)\n",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DT_SRC_MSSQL",
											"type": "DatasetReference",
											"parameters": {
												"P_TABLENAME": {
													"value": "@pipeline().parameters.P_TABLENAME",
													"type": "Expression"
												},
												"P_SCHEMA": {
													"value": "@pipeline().parameters.P_SCHEMA",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DT_PRQ_DYN",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@variables('V_PATH')",
													"type": "Expression"
												},
												"P_CONTAINER": "landingzone",
												"P_FILENAME": {
													"value": "@variables('V_FILENAME')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "V_FILENAME_MSSQL_INCR",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_FILENAME",
										"value": {
											"value": "@concat(toLower(pipeline().parameters.P_TABLENAME),\n'_',\npipeline().parameters.P_LOAD_TYPE,\n'_', \n    formatDateTime(utcnow(),'yyyyMMddTHHmmss'), \n    '.parquet')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "V_PATH_MSSQL_INCR",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_PATH",
										"value": {
											"value": "@concat(\n    toUpper(pipeline().parameters.P_PATH), \n    '/',\n    formatDateTime(utcNow(),'yyyy'), \n    '/', \n    formatDateTime(utcNow(),'MM'), \n    '/', \n    formatDateTime(utcNow(),'dd')    \n  \n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Notebook1",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "CP_MSSQL_INCREMENTAL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Workspace/Users/raphaelfreixo@gmail.com/Get_Metadata_raw",
										"baseParameters": {
											"P_CONTAINER": "landingzone",
											"P_PATH": {
												"value": "@variables('V_PATH')",
												"type": "Expression"
											},
											"P_FILENAME": {
												"value": "@variables('V_FILENAME')",
												"type": "Expression"
											},
											"P_WATERMARK_COLUMN": {
												"value": "@pipeline().parameters.P_WATERMARK_COLUMN",
												"type": "Expression"
											},
											"P_STORAGE_ACCOUNT": "dlseventtriggerdev"
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureDatabricks1",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "CP_MSSQL_FULL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "V_FILENAME_MSSQL_FULL",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "V_PATH_MSSQL_FULL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT ',\n    pipeline().parameters.P_SELECT_COLUMN,\n    ',GETUTCDATE() _LOAD_TIME  FROM ',\n    pipeline().parameters.P_SYSTEM,\n    '.',\n    pipeline().parameters.P_SCHEMA,\n    '.',\n    pipeline().parameters.P_TABLENAME\n   \n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DT_SRC_MSSQL",
									"type": "DatasetReference",
									"parameters": {
										"P_TABLENAME": {
											"value": "@pipeline().parameters.P_TABLENAME",
											"type": "Expression"
										},
										"P_SCHEMA": {
											"value": "@pipeline().parameters.P_SCHEMA",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DT_PRQ_DYN",
									"type": "DatasetReference",
									"parameters": {
										"P_PATH": {
											"value": "@pipeline().parameters.P_PATH",
											"type": "Expression"
										},
										"P_CONTAINER": "landingzone",
										"P_FILENAME": {
											"value": "@pipeline().parameters.P_TABLENAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "V_FILENAME_MSSQL_FULL",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_FILENAME",
								"value": {
									"value": "@concat(toLower(pipeline().parameters.P_TABLENAME),\n'_',\npipeline().parameters.P_LOAD_TYPE,\n'_', \n    formatDateTime(utcnow(),'yyyyMMddTHHmmss'), \n    '.parquet')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "V_PATH_MSSQL_FULL",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_PATH",
								"value": {
									"value": "@concat(\n    toUpper(pipeline().parameters.P_PATH), \n    '/',\n    formatDateTime(utcNow(),'yyyy'), \n    '/', \n    formatDateTime(utcNow(),'MM'), \n    '/', \n    formatDateTime(utcNow(),'dd')    \n  \n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_TECH": {
				"type": "string"
			},
			"P_SERVER": {
				"type": "string"
			},
			"P_SYSTEM": {
				"type": "string"
			},
			"P_SCHEMA": {
				"type": "string"
			},
			"P_TABLENAME": {
				"type": "string"
			},
			"P_LOAD_TYPE": {
				"type": "string"
			},
			"P_WATERMARK": {
				"type": "string"
			},
			"P_CHK_BIG_NUMBER": {
				"type": "string"
			},
			"P_ACTIVE": {
				"type": "string"
			},
			"P_SENSITIVE_DATA": {
				"type": "string"
			},
			"P_SELECT_COLUMN": {
				"type": "string"
			},
			"P_SELECT_COLUMN_MAX": {
				"type": "string"
			},
			"P_PATH": {
				"type": "string"
			},
			"P_WATERMARK_COLUMN": {
				"type": "string"
			}
		},
		"variables": {
			"V_PATH": {
				"type": "String"
			},
			"V_FILENAME": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-02T02:42:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}