adf-mvp-corteva/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-mvp-corteva"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('select * from ',\r\nitem().SCHEMA,\r\n'.',\r\nitem().TABLENAME)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "PRQT_INGEST",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": {
													"value": "@item().PATH",
													"type": "Expression"
												},
												"P_DATE": {
													"value": "@variables('DATE')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "DATE",
										"value": {
											"value": "@concat(formatDateTime(utcnow(),'yyyy'),\n'/',\nformatDateTime(utcnow(),'MM'),\n'/',\nformatDateTime(utcnow(),'dd')\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[PROC_INSERT_LOGS]",
										"storedProcedureParameters": {
											"P_COPYDURATION_SEG": {
												"value": {
													"value": "@activity('Copy data1').output.copyDuration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"P_DATAREAD_KB": {
												"value": {
													"value": "@activity('Copy data1').output.dataRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"P_DATAWRITTEN_KB": {
												"value": {
													"value": "@activity('Copy data1').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"P_DURATION_ACT_SEG": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].duration",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"P_PIPELINE_ID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_ROWSCOPIED_UNIT": {
												"value": {
													"value": "@activity('Copy data1').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"P_ROWSREAD_UNIT": {
												"value": {
													"value": "@activity('Copy data1').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"P_SCHEMA_NAME": {
												"value": {
													"value": "@item().SCHEMA",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_SERVER_NAME": {
												"value": {
													"value": "@item().SERVER",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_START_TIME": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].start",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_STATUS": {
												"value": {
													"value": "@activity('Copy data1').output.executionDetails[0].status",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_TABLENAME": {
												"value": {
													"value": "@item().TABLENAME\r\n",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_THROUGHTPUT_MB": {
												"value": {
													"value": "@activity('Copy data1').output.throughput",
													"type": "Expression"
												},
												"type": "Double"
											},
											"P_TRIGGER_TIME": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "AzureSqlDatabase2",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"DATE": {
						"type": "String"
					},
					"V_DATAREADER": {
						"type": "Integer"
					},
					"V_COPYDURATION": {
						"type": "Integer"
					},
					"V_TABLENAME": {
						"type": "String"
					},
					"throughput": {
						"type": "Integer"
					},
					"V_ROWSREAD": {
						"type": "Integer"
					},
					"DATAWRITTEN": {
						"type": "Integer"
					},
					"V_START_TIME": {
						"type": "String"
					},
					"V_STATUS": {
						"type": "String"
					},
					"V_ROWCOPIED": {
						"type": "Integer"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-12-14T02:28:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PROCESS_INGEST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKUP_CONTROL_TABLE",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKUP_CONTROL_TABLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKUP_CONTROL_TABLE').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().TECH",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "HANA",
												"activities": [
													{
														"name": "Set variable1_copy1",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "APAGAR",
															"value": "S"
														}
													}
												]
											},
											{
												"value": "ORACLE",
												"activities": [
													{
														"name": "Set variable1_copy2",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "APAGAR",
															"value": "S"
														}
													}
												]
											},
											{
												"value": "MYSQL",
												"activities": [
													{
														"name": "Set variable1_copy3",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "APAGAR",
															"value": "S"
														}
													}
												]
											},
											{
												"value": "POSTGRES",
												"activities": [
													{
														"name": "Set variable1_copy4",
														"type": "SetVariable",
														"dependsOn": [],
														"policy": {
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"variableName": "APAGAR",
															"value": "S"
														}
													}
												]
											},
											{
												"value": "MSSQL",
												"activities": [
													{
														"name": "PL_SRC_STG_INCR",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"policy": {
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "PL_SRC_STG_INCR",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"P_TECH": {
																	"value": "@item().TECH",
																	"type": "Expression"
																},
																"P_SERVER": {
																	"value": "@item().SERVER",
																	"type": "Expression"
																},
																"P_SYSTEM": {
																	"value": "@item().SYSTEM",
																	"type": "Expression"
																},
																"P_SCHEMA": {
																	"value": "@item().SCHEMA",
																	"type": "Expression"
																},
																"P_TABLENAME": {
																	"value": "@item().TABLENAME",
																	"type": "Expression"
																},
																"P_LOAD_TYPE": {
																	"value": "@item().LOAD_TYPE",
																	"type": "Expression"
																},
																"P_WATERMARK": {
																	"value": "@item().WATERMARK",
																	"type": "Expression"
																},
																"P_CHK_BIG_NUMBER": {
																	"value": "@item().CHK_BIG_NUMBER",
																	"type": "Expression"
																},
																"P_ACTIVE": {
																	"value": "@item().ACTIVE",
																	"type": "Expression"
																},
																"P_SENSITIVE_DATA": {
																	"value": "@item().SENSITIVE_DATA",
																	"type": "Expression"
																},
																"P_SELECT_COLUMN": {
																	"value": "@item().SELECT_COLUMN",
																	"type": "Expression"
																},
																"P_SELECT_COLUMN_MAX": {
																	"value": "@item().SELECT_COLUMN_MAX",
																	"type": "Expression"
																},
																"P_PATH": {
																	"value": "@item().PATH",
																	"type": "Expression"
																},
																"P_WATERMARK_COLUMN": {
																	"value": "@item().WATERMARK_COLUMN",
																	"type": "Expression"
																}
															}
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "APAGAR",
													"value": "S"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"APAGAR": {
						"type": "String"
					}
				},
				"folder": {
					"name": "SqlServer/PROCESS"
				},
				"annotations": [],
				"lastPublishTime": "2024-03-02T02:27:23Z"
			},
			"dependsOn": []
		}
	]
}